body {
font-family: 'Roboto', Helvetica;
color: #737373;
font-weight: 300;
}



.inner {
padding: 1em;
background-color: white;
overflow: hidden;
position: relative;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.rating_count {
float: left;
width: 45%;
margin-right: 5%;
text-align: center;
}

.rating-num {
color: #333333;
font-size: 72px;
font-weight: 100;
line-height: 1em;
}

.rating-users {
font-size: 14px;
}

.histo {
    margin-top: 1%;
    margin-bottom: 5%;
float: left;
width:100%;
font-size: 13px;
}

.histo-star {
float: left;
padding: 5px;

}

.histo-rate {
width: 100%;
display: block;
clear: both;
}

.bar-block {
margin-left: 1%;
color: black;
display: block;
float: left;
width: 75%;
position: relative;
}

.bar {
padding: 4px;
display: block;
}

#bar-five {
width: 0;
background-color: #9FC05A;
}

#bar-four {
width: 0;
background-color: #ADD633;
}

#bar-three {
width: 0;
background-color: #FFD834;
}

#bar-two {
width: 0;
background-color: #FFB234;
}

#bar-one {
width: 0;
background-color: #FF8B5A;
}

.gallery-wrap .img-big-wrap img {
height:450px;
width: auto;
align-items: center;
cursor: zoom-in;
text-align: center;
margin-top: 5%
}

.gallery-wrap .img-small-wrap .item-gallery {
width: 60px;
height: 60px;
border: 1px solid #ddd;
margin: 7px 2px;
display: inline-block;
overflow: hidden;
}

.gallery-wrap .img-small-wrap {
text-align: center;
}
.gallery-wrap .img-small-wrap img {
max-width: 100%;
max-height: 100%;
object-fit: cover;
border-radius: 4px;
cursor: zoom-in;
}
.like, .dislike, .inappropriate, .spam {
float:right;
position:relative;
width:5%;
cursor: pointer;
margin-right: 15%;
}
.wordwrapWITHWidth
{
width:1000px;
word-wrap: break-word;
}

.wordwrapcard{
width:20px;
word-wrap: break-word;
}
.displayright{
float : right;
}
.pointer{
cursor: pointer;
}
.card_one {
box-shadow: 0px 0px 0px whitesmoke;
transition-duration: 0.6s;
-webkit-transition: box-shadow .1s ease-out;
box-shadow: .8px .9px 3px whitesmoke;

}
.card_one:hover{
box-shadow: 4px 8px 25px #17a2b8;
-webkit-transition: box-shadow .1s ease-in;
}

.card_one_review {
box-shadow: 0px 0px 0px whitesmoke;
transition-duration: 0.6s;
-webkit-transition: box-shadow .1s ease-out;
box-shadow: .8px .9px 3px whitesmoke;

}
.card_one_review:hover{
box-shadow: 4px 8px 25px #a5edf8;
-webkit-transition: box-shadow .1s ease-in;
}

.review-icon .fa-thumbs-up,
.review-icon:hover .fa-thumbs-o-up {
display: none;
}
.review-icon:hover .fa-thumbs-up {
display: inline;
box-shadow: 4px 8px 25px #2bdbf7;
}

.review-icon .fa-thumbs-down,
.review-icon:hover .fa-thumbs-o-down {
display: none;
}
.review-icon:hover .fa-thumbs-down {
display: inline;
box-shadow: 4px 8px 25px #2bdbf7;
}

.review-icon .fa-question-circle,
.review-icon:hover .fa-question-circle-o {
display: none;
}
.review-icon:hover .fa-question-circle {
display: inline;
}

.review-icon .fa-times-circle,
.review-icon:hover .fa-times-circle-o {
display: none;
}
.review-icon:hover .fa-times-circle {
display: inline;
}