<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    About Us
  </title>
</head>
<body style="background-color: #f4fbff">

<% include navigationbar.html %>
<h1 align=center> -Our Mission-</h1>
<h5 align=center>To provide Online <b>Review and Ratings</b> for Offline products.</h5><p align=center>At <b><i>ReviewIt</i></b>, we provide an online platform for offline products.
     The products which have a reach only to the offline market are rated and reviewed here, by their users.</p>
<h1 align=center> -About-</h1>
<p align=center>  </p>

    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-text round feature-border text-center mb-30">
              <div class="feature-info">
                  <i class="fa fa-qrcode" style="font-size: 4em;"></i> 
              <h4 >QR Scanability</h4>
              <p>Scan the QR Code attached to the product to land on the product page for reviews and ratings.</p>
            </div>
            </div> 
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-text round feature-border text-center mb-30">
                            <div class="feature-info"> 
                <i class="fa fa-star-half-empty" style="font-size: 4em;color: gold; border:black"></i> 
              <h4 class="pb-10">Ratings & Review</h4>
              <p>Add Ratings and review to your product and express what you feel like.</p>
            </div>
            </div> 
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-text round feature-border text-center mb-30">
                    <div class="feature-info"> 
                    <i class="fa fa-book" style="font-size: 4em;color: brown"></i> 
              <h4 class="pb-10">Product Info</h4>
              <p>Product Page provides user with all the product details, average rating, its vendors and other reviews.</p>
            </div>
            </div> 
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-text round feature-border text-center mb-30">
                    <div class="feature-info"> 
                    <i class="fa fa-group" style="font-size: 4em;color: blue"></i>
              <h4 class="pb-10">Become a Vendor</h4>
              <p>Sign up as a vendor to add products of your shop and get them reviewed.</p>
            </div>
            </div> 
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-text round feature-border text-center mb-30">
                        <div class="feature-info"> 
                    <i class="fa fa-check-circle" style="font-size: 4em;color: green"></i>
              <h4 class="pb-10">Vote the Review</h4>
              <p>Vote any review with Like, Dislike, Inappropriate or Spam.</p>
            </div>
            </div> 
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-text round feature-border text-center mb-30">
                     <div class="feature-info"> 
                    <i class="fa fa-trash" style="font-size: 4em;color: grey"></i>
              <h4 class="pb-10">Disble Product</h4>
              <p>Disable your product if you are no more a vendor of it.</p>
            </div>
            </div> 
          </div>
       </div>
   </div>
  
<% include commonFooterScriptElements.html %>
</body>
</html>