<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    Acknowledgements
  </title>
</head>
<body style="background-color: #f4fbff">

<% include navigationbar.html %>
<h1 align=center> -Acknowledgements-</h1><br>
<div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <center> <a href="www.gla.ac.in" style="text-decoration: none; color: black;">
                <img  src="/static/uploads/gla.png" alt="GLA University" style="
                width:250px;">
                <h3 align=center >GLA University</h3>
                        <p align=center ><b>ReviewIt</b> Team acknowledges GLA University for providing the platform to develop this tool successfully.</p>
                    </a>  </center>  </div>

                </div>
                <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <center>
                            <img  class = "rounded-circle" src="/static/uploads/piyushkhandelwal1.jpg" alt="Piyush Khandelwal" style="
                            width:180px;">
                            <h3 align=center >Piyush Khandelwal</h3>
                                    <p align=center ><b>ReviewIt</b> Team acknowledges Piyush sir for giving us an opportunity to work on this project. He has always illuminated us on our every step  of this journey. His guidance has served as an eminent source for us.</p>
                               </center>  </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                        <center>
                                        <img  class = "rounded-circle" src="/static/uploads/pk.jpg" alt="Piyush Khandelwal" style="
                                        width:200px;">
                                        <h3 align=center >Projector Club</h3>
                                                <p align=center ><b>ReviewIt</b> Team acknowledges Projector Club for providing us with an efficient working environment which has enabled a smooth development of this tool.</p>
                                             </center>  </div>

                            </div>
                </div>
                <% include commonFooterScriptElements.html %>
</body>
</html>
