<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>.sty{
        font-size: 70px;
        font-family: 'Lobster', cursive;
        color: white;
        text-align: center;
    }
     </style>
 
</head>
<% include navigationbar.html %>
<body style="background-image: url(/static/uploads/vendorpage.jpg);">
<div id="container" class="container-fluid  mt-5" >
<div class="row" >
    <div class="col-xs-12 col-sm-6 col-md-6  mt-5 "><div class="sty" style="color: whitesmoke; text-align:center">Use it. Scan it. Review it</div>	<span><h5 style="color: whitesmoke; text-align:center">Feel free to rate and review</h5></span></div>


                    <div class="col-md-4 p-3" style="margin-left: 13%;margin-bottom:5%;background-color: #f4fbff ;border-radius: 1rem" >
                        <div class="card-body p-3">
                            <form action="/app/addproduct" method="post" enctype="multipart/form-data">
                                <div class="container">
                                      <input type="hidden" name= "u_id" value="<%=user%>">
                               
                                  <h1>Add Product</h1>
                                 <% var pd=0 %>
                                  <hr>
                                  <div class="form-group">
                                  <label for="mob"><b>Product Name:</b></label>
                                  <input type="text" class="form-control" id='name'name= "pname" placeholder="name" required >
                                  <div id="producterr" class="alert alert-danger" style="display: none;">Product Already Exists. <a href="" id="plink" target="_blank" >See Here...</a></div>
                              </div>
                              <div class="form-group" id='hide-div-desc'>
                                  <label for ="description" ><b>Description:</b><br></label>
                                  <input type="text" class="form-control" name= "desc" id='desc' value="Description" required>
                                  </div>
                                 
                              <div class="form-group" id='hide-div-img'>
                                  <label for="img"><b>Image</b></label><br><br>
                                  <input type="file" class="form-control" value="Image"id='img' name="img" ><br><br>
                              </div>
                                  
                                  
                                  <div class="clearfix">
                                      
                                      <a href="/app/profile/<%=user%>"  class="btn btn-secondry" >Cancel</a>
                                    <button type="submit" class="btn btn-primary" style="float: right;"id="add">Add Product</button>
                                    <button type="submit" class="btn btn-primary" style="float: right; display:none;" id="vendor">Become Vendor</button>
                                  </div>
                                </div>
                              </form>
                              
                           
                        </div>
                    
                </div>
                </div>
                </div>
</body>
<script>
    $(function(){ 
      $('#name').focusout(function(){
        $.post('/app/checkproduct',{
          name: $(this).val()},function(data,status){
            if(data.flag=='1'){ $('#producterr').hide();
              $('#name').css({"color":"green"});
              $('#hide-div-desc').show();
                $('#hide-div-img').show();
                $('#add').show();
              sub=true;
            }
            else{ 
                console.log(data.pid);
              pd=data.pid;
                $('#producterr').show();
                $('#add').hide();
                    $('#hide-div-desc').hide();
                $('#hide-div-img').hide();
                $('#vendor').show();
              $('#name').css({"color":"red"});
              $("#plink").attr("href", "/app/product/"+pd);
              $("#desc").val("already exists");
              $("#img").val("already exists");
              sub=false;
            }
        });
      }); 
    }); 
    
    </script>
<% include footer.html %>
<% include commonFooterScriptElements.html %></html>







