<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<h1>ADMIN PAGE</h1>
<a href=/app/vendor class="btn btn-secondary">Vendor Page</a>
<br><br><br>
<a href=/app/customer class="btn btn-secondary">Customer Page</a>
<br><br><br>
<a href=/app/product class="btn btn-secondary">Product Page</a>








</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<% include footer.html %>
</body>
<% include commonFooterScriptElements.html %>
</html>
