<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>customers_list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>


        <% include navigationbar.html %>
    <h1>ALL CUSTOMERS ARE HERE </h1> <br><br>
    <section class="text-center mb-4">
            <div class="row wow fadeIn">
    <% for(var i in customers_list) { %>
        <div class="col-lg-3 col-md-6 mb-4">
           <a href="/app/customer/<%= customers_list[i].u_id %>">
            
       <!-- Card -->
       <div class="card testimonial-card">

        <!-- Bacground color -->
        <div class="card-up indigo lighten-1">
       </div>
    
        <!-- Avatar -->
        <div class="avatar mx-auto white"><img src="<%= customers_list[i].img %>" alt="product image" style="height:100px;width:100px" class="rounded-circle">
        </div>
    
        <div class="card-body">
            <!-- Name -->
            <h4 class="card-title"><%= customers_list[i].name %></h4>
            <h4 class="card-title"><%= customers_list[i].mob %></h4>
            <hr>
            <!-- Quotation -->
            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
        </div>
        
    
    </div>
    <!-- Card -->

</a>
</div>
    
   
           <% } %>
    
            </div>
    </section>




    <% include footer.html %>
<% include commonFooterScriptElements.html %>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
// Animations initialization
new WOW().init();
</script>
</body>

</html>
