<link href="https://fonts.googleapis.com/css?family=Lobster|Merienda|Ubuntu" rel="stylesheet">
<style>

section {
    padding:5px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 10px;
    text-transform: uppercase;

}
#footer {
    background: #b3e5fc !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #138496;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#138496;
}
#footer a {
    color: #138496;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#138496;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
	.sty{
		font-size: 28px;
		font-family: 'Lobster', cursive;;
		color:#138496;
	}
@media (min-width:1000px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
	.sty{
		font-size: 70px;
		font-family: 'Lobster', cursive;
	}
}

</style>
<div class="footer">
    <section id="footer">
		<div class="container-fluid">
			<div class="row text-center text-xs-center text-sm-left text-md-center ">
				<div class="col-xs-12 col-sm-4 col-md-4 justify-content-center mt-5">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/app/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/app/aboutus"><i class="fa fa-angle-double-right"></i>About Us</a></li>

						
						<li><a href="/app/ourteam"><i class="fa fa-angle-double-right"></i>Our Team</a></li>
						<li><a href="/app/acknowledgements"><i class="fa fa-angle-double-right"></i>Acknowledgment</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 mx-left mt-5 "><div class="sty">Use it. Scan it. Review it</div>	<span><h5>Feel free to rate and review</h5></span></div>

		</div>
		</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p style="color:#138496"><b>Contact us <i class="fa fa-envelope"></i></b> : <u>reviewit.projectorclub@gmail.com </u></p>
					<p class="h6" style="color:#138496">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Projector CLub</a></p>
				</div>
				</hr>
			</div>

		</div>
	</section>

</div>