<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>recover password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="container be-detail-container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <br>
            <img src="https://cdn2.iconfinder.com/data/icons/luchesa-part-3/128/SMS-512.png" class="img-responsive" style="width:200px; height:200px;margin:0 auto;"><br>
            
            <h1 class="text-center">Recover your account</h1><br>
            <p class="lead" style=" align :center"></p><p>An OTP will be send to your Email. Please enter the correct Email below for Successful recovery</p>
        <br>
       
            <form method="post" id="veryfyotp" action="/app/send">
                <div class="row">                    
                <div class="form-group col-sm-8">
                        <% if(errorMessage){ %>
                            <span style="color:red;"> <%= errorMessage %>  </span>
                            <% } %>
                	 <input type="text" class="form-control" name="email" placeholder="Enter your registered Email" required>
                </div>
                <button type="submit" class="btn btn-primary  pull-right col-sm-3">generate otp</button>
                </div>
            </form>
        <br><br>
        </div>
    </div>        
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>