<div class="header-v6 header-classic-white header-sticky">
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
    
                    <div class="navbar-brand"style="padding: 15px 0">
                        <a href="/app/home">
                            <!--<img class="shrink-logo" src="/static/assets/img/logo1-default.png" alt="Logo">-->
                            
                        </a>
                    </div>
                </div>
    
               
        <% if(!currentUser) { %>
                <a href="/app/home/login">LOGIN</a><br>
                <a href="/app/home/signup">SIGN UP</a>
            
            <% } else { %>
            
                <!--<a>Welcome</a>-->
        <h2>Welcome <%= currentUser.name %></h2>
                    <a href="/app/customer/<%= currentUser.u_id %> ">View Profile</a>
                    <a href="/app/logout">LOGOUT</a>
                
                
            
        <% } %>
            </div>
        </div>
    </div>