<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat:500|Roboto" rel="stylesheet">
  <title>
    ReviewIt
  </title>
    <style>
      @media screen and (max-width: 1000px){
        .autochng{height: 200px;}
        .venchng{width: 20px;}
        
        
      }

.card_one {
 box-shadow: 0px 0px 0px whitesmoke;
 transition-duration: 0.6s;
  -webkit-transition:  box-shadow .1s ease-out;
     box-shadow: .8px .9px 3px whitesmoke;

}
.card_one:hover{ 
     box-shadow: 4px 8px 25px #17a2b8;
    -webkit-transition:  box-shadow .1s ease-in;
  }
  .truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>
</head>
<% include navigationbar.html %>
<body class="header-fixed header-fixed-space " style="background-color: #f4fbff">
    <div class="wrapper homePage container-fluid">
            <div class="row mt-3 p-1 ">
                    
              <div class="col-sm-12 col-md-8 mt-5">
                 <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicator" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicator" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicator" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner autochng">
                    <div class="carousel-item active shadow-lg mb-5 ">
                      <img class=" w-100 mx-auto d-block cr" src="\static\uploads\c2.jpg" alt="First slide" style="height: 28rem;">
                    </div>
                    <div class="carousel-item  shadow-lg mb-5">
                      <img class="d-block w-100" src="\static\uploads\c4.jpg"  alt="Second slide" style="height: 28rem;">
                    </div>
                    <div class="carousel-item shadow-lg mb-5">
                      <img class="d-block w-100" src="\static\uploads\c3.jpg" alt="Third slide" style="height: 28rem;" >
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicator" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicator" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>



              </div>


                    <!--Vendor Corousel-->

                    <div class="col-12 col-md-4"><div class="text-center mt-1 p-1 font-weight-bold" style="font-family: 'Montserrat', sans-serif; font-size:25px;">Top Vendors</div><div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner venchng">
                              <div class="carousel-item active"><!-- Linking Of the product detail page -->
                                <a href="/app/vendor/<%= userDetails3[0].u_id %>" style="text-decoration: none; color:black">
                                <!--Single  Card Body -->
                                    <div class="card mx-auto shadow-lg p-3 mb-5 mr-3" style="height: 28rem" >
                                            <img class="card-img-top" src=" <%= userDetails3[0].logo %>" style="height:18rem;" alt="Card image cap">
                                            <div class="card-body"> 
                                                <h4 class="card-title" style="font-family: 'Lato', sans-serif;"><%= userDetails3[0].firm_name%></h4>
                                              <p class="card-text " style="font-family: 'Lato', sans-serif; font-size: 15px">Firm Location: <%= userDetails3[0].location %> <i class ="fa fa-map-marker" style="color:blue; font-size:1.5em"></i></p>
                                              <p class="card-text" style="font-family: 'Lato', sans-serif; font-size: 15px">Total Products: <%= userDetails3[0].added_product%> <i class ="fa fa-cubes" style="color: brown; font-size:1.5em"></i></p>
                                            </div>
                                          </div>
                              </div></a>
                              <div class="carousel-item ">  <a href="/app/vendor/<%= userDetails3[1].u_id %>"  style="text-decoration: none; color:black">                                    
                                <div class="card mx-auto shadow-lg p-3 mb-5" style="height: 28rem">
                                            <img class="card-img-top img-fluid" src=" <%= userDetails3[1].logo %>" style="height:18rem;"  alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title"  style="font-family: 'Lato', sans-serif;"><%= userDetails3[1].firm_name%></h4>
                                                  <p class="card-text" style="font-family: 'Lato', sans-serif; font-size: 15px" >Firm Location: <%= userDetails3[1].location %> <i class ="fa fa-map-marker" style="color:blue; font-size:1.5em"></i></p>
                                                  <p class="card-text" style="font-family: 'Lato', sans-serif; font-size: 15px">Total Products: <%= userDetails3[1].added_product%> <i class ="fa fa-cubes" style="color: brown; font-size:1.5em"></i></p>
                                              
                                            </div>
                                          </div></a>
                              </div>
                              <div class="carousel-item"> <a href="/app/vendor/<%= userDetails3[2].u_id %>"  style="text-decoration: none; color:black">
                                    <div class="card mx-auto shadow-lg p-3 mb-5" style="height: 28rem">
                                            <img class="card-img-top" src=" <%= userDetails3[2].logo %>" style="height:18rem;"  alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title"  style="font-family: 'Lato', sans-serif;"><%= userDetails3[2].firm_name%></h4>
                                                  <p class="card-text"  style="font-family: 'Lato', sans-serif; font-size: 15px">Firm Location: <%= userDetails3[2].location %> <i class ="fa fa-map-marker" style="color:blue; font-size:1.5em"></i></p>
                                                  <p class="card-text" style="font-family: 'Lato', sans-serif; font-size: 15px">Total Products: <%= userDetails3[2].added_product%> <i class ="fa fa-cubes" style="color: brown; font-size:1.5em"></i></p>
                                            </div>
                                          </div></a>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div></div>
                  </div></div>
                 
                   <!-- TOP RATED PRODUCTS-->
                   <div class="container-fluid ">
                      <div class="col-md-12 col-lg-10 col-sm-12  mx-auto d-block ">
                        <div class="text-lefts mt-1 p-1 font-weight-bold" style="font-family: 'Montserrat', sans-serif; font-size:25px;">Top Rated</div>
                      <div class="row">
                      <% for( var i in userDetails2 ) { %>
                        <div class="col-md-4  col-sm-6 col-xs-12 ">
                      <div class="card-group p-4 mb-3">  <a href="/app/product/<%= userDetails2[i].p_id %>"  style="text-decoration: none; color:black">
                              <div class="card card_one p-3 mr-3" style="height:22rem; width:15rem ">
                                <img class="card-img-top mx-auto img-fluid " src="<%= userDetails2[i].image_url %>"  style=" width:18rem ; height:10rem" alt="Card image cap">
                                <div class="card-body " style="height: 9rem;">
                                  <p class="card-title truncate" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;font-size: 20px"><%= userDetails2[i].name %></p>
                                 <div class="star_rating card_rating" style="float: left"><%= userDetails2[i].rating %></div><br> <hr> 
                                 <span class="active" style="font-family: 'Lato', sans-serif; font-size: 15px;text-transform: capitalize;">Rated by : <%= userDetails2[i].rated_by %>  <i class="fa fa-user" style="color: rgb(97, 4, 4); font-size:1.25em">  </i></span>
                                 </div> 
                                </div></a>
                               </div>
                  </div>
                <% } %></div></div></div><hr> 






    <!-- MOST REVIEWD PRODUCTS-->
   
    <div class="container-fluid ">
        <div class="col-md-12 col-lg-10 col-sm-12  mx-auto d-block">
          <div class="text-left mt-1 p-1 font-weight-bold" style="font-family: 'Montserrat', sans-serif; font-size:25px;">Most Reviewed</div>
        <div class="row">
        <% for( var i in userDetails1 ) { %>
          <div class="col-md-4  col-sm-6 col-xs-12 ">
        <div class="card-group p-4 mb-3">  <a href="/app/product/<%= userDetails1[i].p_id %>"  style="text-decoration: none; color:black">
                <div class="card card_one p-3 mr-3" style="height:22rem; width:15rem">
                  <img class="card-img-top mx-auto img-fluid " src="<%= userDetails1[i].image_url %>"  style=" width:18rem ; height:10rem" alt="Card image cap">
                  <div class="card-body " style="height: 9rem;">
                    <p class="card-title truncate" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;font-size: 20px"><%= userDetails1[i].name %></p>
                   <div class="star_rating card_rating" style="float: left"><%= userDetails1[i].rating %></div><br> <hr> 
                   <span class="active" style="font-family: 'Lato', sans-serif; font-size: 15px;text-transform: capitalize;">Rated by : <%= userDetails1[i].rated_by %>  <i class="fa fa-user" style="color: rgb(97, 4, 4); font-size:1.25em">  </i></span>
                  </div> 
                  </div></a>
                 </div>
    </div>
    <% } %></div></div></div> <hr>
    
                  <!--ALL PRODUCTS-->
                  
                  <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  mx-auto d-block">
                        <div class="text-left mt-1 p-1 font-weight-bold" style="font-family: 'Montserrat', sans-serif; font-size:25px;">All products</div>
                      
                    <div class="row">
                      <% var limit; %>
                      <% if(products_list.length>=12) { limit=12;} else {limit=products_list.length;} %>
                      <% for( var i=0;i<limit ; i++) { %>
                      <div class=" col-lg-3  col-md-4 col-sm-6 col-xs-12 ">
                          <div class="card-group p-4 mb-3 mx-auto d-block"> <a href="/app/product/<%= products_list[i].p_id %>"  style="text-decoration: none; color:black">
                          
                        <div class="card card_one p-3 mr-3" style="height: 22rem; width: 15rem">
                          <img class="card-img-top" src="<%= products_list[i].image_url %>"  style=" width:13 ; height:10rem" alt="Card image cap" >
                          <div class="card-body">
                            <p class="card-title truncate" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;font-size: 20px"><%= products_list[i].name %></p>
                            <div class="star_rating card_rating" style="float: left"><%= products_list[i].rating %></div><br> <hr> 
                            <span class="active" style="font-family: 'Lato', sans-serif; font-size: 15px;text-transform: capitalize;">Rated by : <%= products_list[i].rated_by %>  <i class="fa fa-user" style="color: rgb(97, 4, 4); font-size:1.25em">  </i></span>
                          </div>
                        </div></a></div></div>
                      <%}%>
                      </div></div></div><hr>


                      <a class="align-content-between" href="/app/search?search=Product&name=" style="font-family: 'Montserrat', sans-serif; font-size:15px;margin-left: 50%;">View more...</a>
    










</body>
<% include footer.html %>
<% include commonFooterScriptElements.html %>
</html>




