<link rel="stylesheet" href="/static/styles/star/style.css">
<link rel="stylesheet" href="/static/styles/productdetail.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="icon" href="/static/uploads/icon.png" type="image/gif" sizes="16x16">


 <style>

  
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #302c2c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: rgb(250, 250, 250);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ac3b61;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.login{
  margin-left: 70%
}
</style>

<nav class="navbar col-md-12 navbar-expand-lg navbar-light shadow sticky-top " style="background-color: #b3e5fc">
  <a class="navbar-brand text-monospace" href="/app/home"><img class="img-fluid" src="\static\uploads\review.png" style="height:60px;width:200px" alt="Review it" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="float: right;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse  navbar-collapse justify-content-end" id="navbarSupportedContent">
              <% if(!currentUser) { %>
            <button type="button" class="btn btn-info shadow my-2 my-lg-0" data-toggle="modal" data-target=".bd-example-modal-lg" id="signup" style="height: 45px;margin-right: .5%;">Sign Up</button>
            <button type="button" class="btn btn-info shadow my-2 my-sm-0" data-toggle="modal" data-target=".bd-example-modal-sm" id ="login"style="height: 45px;float: right;">Login</button>
            <% } else { %>               
            <div class="dropdown" style="margin-right: 6%">
              <button class="btn btn-info shadow"><%= currentUser.name %></button>
                <div class="dropdown-content">
                    <a href="/app/profile/<%= currentUser.u_id %> ">My Profile</a>
                    <% if (currentUser.r_id==2) {%>
                      <a href="/app/vendor/<%=currentUser.u_id%>"  >Vendor Profile</a>
                          <%} else { %>
                              <a href="/app/home/signupasvendor" >Become Vendor</a>
                              <% } %>
                 
                    <a href="/app/logout">Log out</a>
  </div>
</div> 
<% } %> 
</div>
   
   </nav> 

     <!--search container-->
     <div class="container  mx-auto">
            <div class="row justify-content-center ">
      <form action="/app/search" class="form-inline w-100 p-3 ml-15 justify-content-center">
            <select class ="custom-select shadow mb-10" aria-labelledby="navbarDropdown" name="search" style="-webkit-appearance: none;text-overflow: '';-moz-appearance: none; background-color:  #03A9F4; width:1%; color: white; height: 40px;" >
            
              <option value="Product" selected>Product</option>
                  <option value="Vendor" style="color:rgb(245, 241, 247)">Vendor</option>
                  </select>
             <input class="form-control shadow-lg p-2 " style="width:70%" type="search" name="name" placeholder="What are you looking for?" aria-label="Search" ><span class="input-group-btn">
                <button type="submit" class="btn shadow" style="height: 40px;color: black;font-family: 'Roboto'"><i class="fa fa-search"></i></button>
            </span>
          </form>  </div></div>
    </div>
      
      <div id="loginmodal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content col-12">
              <div class="modal-header">
                  <h5 class="modal-title">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
            <form class="logingform" method="POST" >
              <div class="form-group col-12">
                  <label for="mob" >Mobile Number</label>
                  <input type="text" class="form-control" id="mobl" placeholder="Enter mobile number" maxlength="10"  name="mob" required>
                  </div>
              <div class="form-group col-12">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="pswl" placeholder="Password" name="psw" required>
              </div>
              <div id="error" class="alert alert-danger" style="display: none;">Mobile Number or Password is incorrect</div>
               
                  <button type="submit" class="btn btn-primary form-control" style="width: 20%; margin-left: 77%" id="loginbtn">Login</button>
            </form>
            <br>
            <div>
            <span  style="">dont have an <a style="" href="" data-toggle="modal" data-target=".bd-example-modal-lg" id="signup" data-dismiss="modal">account</a>?? </span>
          <span style="float:right"> <a href="/app/forgotpass" >forgot password</a>!!</span></div> 
          </div>
            <div class="modal-footer">
               
              </div>
          </div>
        </div>
      </div><!-- cd-signin-modal__block -->




       
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-container">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content col-12">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
            <form style="border:1px solid #ccc" class="form-control" id="form">
                <div id="signuperr" class="alert alert-danger" style="display: none;">User Credenitials already exits</div>
                
                        <div class="form-row">
                        <div class="form-group col-md-12">                 
                  <label for="name"><b>Name</b></label>
                  <input type="text" placeholder="Enter Name" name="name" class="form-control " required id="names">
              </div> 
            </div>
            <div class="form-row">
              
                <div class="form-group col-md-12 ">
                    <label for="mob"><b>Mobile No.</b></label>
                                <input type="text" placeholder="Enter Mobile No." name="mobs" maxlength="10" pattern="[0,9]{10}" class="form-control" required id="mobs">
                            </div> 
                                </div>
            <div id="err_mob" class="alert alert-danger" style="display: none;">Invalid Mobile Number</div>
            <div id="moberr" class="alert alert-danger" style="display: none;">Mobile Number Already Exsists</div>
            <div class="form-row">
                    <div class="form-group col-md-6">
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psws" class="form-control" required id="psws">
              </div>
              <div class="form-group col-md-6">
              
                  <label for="psw-repeat"><b>Repeat Password</b></label>
                  <input type="password" placeholder="Repeat Password" id="pswsr" class="form-control" required>
                  </div>
                  </div>
                  <div id="err" class="alert alert-danger" style="display: none;">Please enter same password</div>
                  <div class="form-row">
                  <div class="form-group col-md-12">
                  <label for="email"><b>Email</b></label>
                  <input type="email" placeholder="Enter Email" name="email" class="form-control" id="emails">
                  </div>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheckDisabled" required>
                    <label class="custom-control-label" for="customCheckDisabled"><p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                    </label>
                  </div>
                  
                  <div class="clearfix">
                    <button  class="btn btn-primary float-right" name="SignUp" id="signupbtn" type="button"> Submit </button>
                 <span>already have an <a  href=""  data-toggle="modal" data-target=".bd-example-modal-sm"  data-dismiss="modal" id ="login">account</a></span>
                  </div>
                
              </form>
              <hr>
          

      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="\static\scripts\lib\navigationbar.js"></script>