<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    Our Team
  </title>
</head>
<body style="background-color: #f4fbff">

<% include navigationbar.html %>
<h1 align=center> -Our Team-</h1>
<p align=center><b><i>ReviewIt</i></b> is an initiative of a team of 6 students from GLA University.</p>
<div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
                               <center> <img class= 'rounded-circle' src="/static/uploads/kumud.jpg" align = "centre" alt="Kumud Gupta" style="
                                width:150px;"></center>
                        <h4 align=center >Kumud Gupta</h4>
                        <p align=center >B. Tech CSE 3rd Year</p>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                            <center> <img class= 'rounded-circle' src="/static/uploads/sajal1.jpg" align = "centre" alt="Sajal Agrawal" style="
                             width:150px;"></center>
                     <h4 align=center >Sajal Agrawal</h4>
                     <p align=center >B. Tech CSE 3rd Year</p>

                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                        <center> <img class= 'rounded-circle' src="/static/uploads/gagan.jpg" align = "centre" alt="Gagan Gaur" style="
                         width:150px;"></center>
                 <h4 align=center >Gagan Gaur</h4>
                 <p align=center >B. Tech CSE 3rd Year</p>

             </div>
                 </div>
                 <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                                             <center> <img class= 'rounded-circle' src="/static/uploads/arpit.jpg" align = "centre" alt="Arpit Gupta" style="
                                              width:150px;"></center>
                                      <h4 align=center >Arpit Gupta</h4>
                                      <p align=center >B. Tech CSE 3rd Year</p>

                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4">
                                          <center> <img class= 'rounded-circle' src="/static/uploads/shashank.jpg" align = "centre" alt="Shashank Goswami" style="
                                           width:150px;"></center>
                                   <h4 align=center >Shashank Goswami</h4>
                                   <p align=center >B. Tech CSE 3rd Year</p>

                               </div>
                               <div class="col-lg-4 col-md-4 col-sm-4">
                                      <center> <img class= 'rounded-circle' src="/static/uploads/krishna.jpg" align = "centre" alt="Krishna" style="
                                       width:150px;"></center>
                               <h4 align=center >Krishna</h4>
                               <p align=center >B. Tech CSE 3rd Year</p>

                           </div>
                               </div>

             </div>
</body>
</html>
