<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>products_list</title>
   
</head>
<body>


        <% include navigationbar.html %>
    <h1>All Products </h1> <br><br>
    <section class="text-center mb-4">
               
               
            <!--Grid row-->
            <div class="row wow fadeIn">
                    <% for( var i in products_list) { %>
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
                
                <!--Card-->
                
                    <a href="/app/product/<%= products_list[i].p_id %>">
                    <div class="col">
                            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                                    <img class="card-img-top" src="<%= products_list[i].image_url %>" style="height:200px; " alt="Card image cap">
                                    <div class="card-body">
                                            <h5 class="card-title"><%= products_list[i].name %>-<%= products_list[i].p_id %></h5>
                                            <p class="card-text">
                                                    <p>Rated By: <%= products_list[i].rated_by%> person</p>
                                                    <% var rat = products_list[i].rating%>
                                                    <% if(!rat) rat=0; %>
                                                    Rating :<div  class="reviewstars"  ><%=rat%></div>
        
                                                    
                                    </div>
                            </div>
                    </div>
                   </a>                 
                
                  <!--Card content-->
    
                
                <!--Card-->
    
              </div>
              <!--Grid column-->
    <%   } %>
            </div>
    
             
    
    
          </section>
          <!--Section: Products v.3-->
    




    <% include footer.html %>
<% include commonFooterScriptElements.html %>

</body>

</html>


