 <!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat:500|Roboto" rel="stylesheet">
</head>
 <% include navigationbar.html %>
<body style="background-color: #f4fbff">
    
  <% if(currentUser) {%>
    <p class="islogged" value="true"></p>
  <% var c= currentUser.u_id %>
  <% } else {%>
    <p class="islogged" value="false"></p>
    <% } %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/app/home">Home</a></li>
      <li class="breadcrumb-item"><a href="/app/search?search=Product&name=">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= product_details.name %></li>
    </ol>
  </nav>

  <div class="container-fluid"> 
      <div class="row">
          <div class="col-md-5 col-sm-12" style="align-content: center;">
              <div class="img-big-wrap">
                  <div> <a href="#"><img class=" img-fluid ml-5 mt-3" src="<%= product_details.image_url %>"  style="height: 60% ;width: 80%;align-content: center;"></a></div>
                </div>
              </div>
              <div class="col-md-7 col-sm-12">
                  <p class="title mb-3 mt-5 text-capitalize"  style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 35px" ><%= product_details.name %></p>
              
              <div class="row">
                  <div class="col-md-4 col-sm-6  ">
                      <span class="rating-num ml-5"><%=avg_rating %></span>
                          
                      <span  style="margin-left: 15%">
                   <div class="star_rating "><%= avg_rating %></div><br>
                    <div class="rating-users"style="margin-left: 33%"><i class="icon-user"></i> <%= rated_by%> <i class="fa fa-user"></i></div>
                 </span>


                  </div>
                  <div class="col-md-8 col-sm-6">
                      <div class="histo">
                          <div class="five histo-rate">
                            <span class="histo-star"> 5 <i class="fa fa-star"></i>   </span>
                            <span class="bar-block">
                              <span id="bar-five" class="bar">
                                <span><%= r5 %></span>&nbsp;
                              </span> 
                            </span>
                          </div>
                          
                          <div class="four histo-rate">
                              <span class="histo-star"> 4 <i class="fa fa-star"></i>   </span>
                            <span class="bar-block">
                              <span id="bar-four" class="bar">
                                <span><%= r4 %></span>&nbsp;
                              </span> 
                            </span>
                          </div> 
                          
                          <div class="three histo-rate">
                              <span class="histo-star"> 3 <i class="fa fa-star"></i>   </span>
                            <span class="bar-block">
                              <span id="bar-three" class="bar">
                                <span><%= r3 %></span>&nbsp;
                              </span> 
                            </span>
                          </div>
                          
                          <div class="two histo-rate">
                              <span class="histo-star"> 2 <i class="fa fa-star"></i>   </span>
                            <span class="bar-block">
                              <span id="bar-two" class="bar">
                                <span><%= r2 %></span>&nbsp;
                              </span> 
                            </span>
                          </div>
                          
                          <div class="one histo-rate">
                              <span class="histo-star"> 1 <i class="fa fa-star"></i>   </span>
                            <span class="bar-block">
                              <span id="bar-one" class="bar">
                                <span><%= r1 %></span>&nbsp;
                              </span> 
                            </span>
                          </div>
                          </div>


                  </div>
              </div>
              <div class="row "><p  style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size:25px">Description : </p>
                  <p><%= product_details.description %></p></div>
             
          </div>
          </div></div>
      <hr>
      <div class="container mt-3 border badge-light">
              <div  class="mt-2 mb-2" style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 30px">Rating & Reviews
              <% var a= added %>  
          <% if(currentUser){ if(a) { %>           
          
              <button id="myBtn" type="button" class="btn btn-outline-info text-uppercase btn-lg displayright" data-toggle="modal" data-target="#exampleModalCenter" data-toggle="tooltip" data-placement="right" title="<%= user_reviews_array[reviewid].details.rating%>  <%= user_reviews_array[reviewid].details.review%> ">Edit Review</button>
              <% } else { %>
              <button id="myBtn" type="button" class="btn btn-outline-info text-uppercase btn-lg displayright" data-toggle="modal" data-target="#exampleModalCenter">Add Review</button>
              <% }} else { %>
                  <button type="button" class="btn btn-outline-info text-uppercase btn-lg displayright" data-toggle="modal" data-target=".bd-example-modal-sm" id ="login">Add Review</button>
              <% } %></div>
              <!-- Trigger/Open The Modal -->
    <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                      <%  if(currentUser){ if(a) { %>
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Review on <%=product_details.name %> </h5>
                <% } else { %>
                  <h5 class="modal-title" id="exampleModalLongTitle"> Add Review on <%=product_details.name %> </h5>
                  <% }} %>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <form class="modal-content animate" action="/app/product/addingreview/<%= added %>/<%= product_details.p_id %>" style="border:1px solid #ccc"  method="POST">
                  
                          <div class="container">
                                          <hr>
                                          <div class="form-group">
                              <label for="rating"><b>Ratings</b></label>
                              <br>
                              <fieldset class="rating">
                                  <input class = "rating rating-5" type="radio" id="rating-5" name="rating" value="5" />
                                  <label class = "rating rating-5" for="rating-5" title="Awesome - 5 stars"></label>
                                  <input type="radio" id="star4half" name="rating" value="4.5" />
                                  <label class="rating half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                  <input type="radio" id="star4" name="rating" value="4" />
                                  <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                  <input type="radio" id="star3half" name="rating" value="3.5" />
                                  <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                  <input type="radio" id="star3" name="rating" value="3" />
                                  <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                  <input type="radio" id="star2half" name="rating" value="2.5" />
                                  <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                  <input type="radio" id="star2" name="rating" value="2" />
                                  <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                  <input type="radio" id="star1half" name="rating" value="1.5" />
                                  <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                  <input type="radio" id="star1" name="rating" value="1" />
                                  <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                  <input type="radio" id="starhalf" name="rating" value="0.5" required/>
                                  <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                              </fieldset>
                               </div>
                               <br><br><br>
                          <div class="form-group">
                                  <label for="review"><b>Review</b></label>
                                  <%  if(currentUser){ if(a) { %>                                                                    
                                <input type="text" placeholder="<%= user_reviews_array[reviewid].details.review%>" name="review" class="form-control" maxlength="500">
                                <% } else { %>
                                  <input type="text" placeholder="Write your review here" name="review" class="form-control" maxlength="500">
                                  <% } }%>
                              </div>
                              <div >
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <%  if(currentUser){ if(a) { %>
                                      <button type="submit" class="btn btn-primary" style="float: right;">Edit Review</button>
                                      <% } else { %>
                                          <button type="submit" class="btn btn-primary" style="float: right;">Add Review</button>
                                          <% } }%>
                                    </div>
                          </div>
                        </form>
              </div>
             </div>
          </div>
        </div>
          </div>
        <% for( var i in user_reviews_array ) { %>
          
          <div class="card container card_one_review"> 
          <div class="card-body "> <p class="card-text"><img class= 'rounded-circle' src="<%= user_reviews_array[i].details.img %>" align = "middle" alt="<%=
          user_reviews_array[i].details.name %>" style="float: left;
          width:60px;">
          <p  style="font-family: 'Lato', sans-serif; font-size: 20px"><%= user_reviews_array[i].details.name %> </p>
          <div class= "star_rating rev_rating float:right" > <%= user_reviews_array[i].details.rating %> </div>
          
              <h5  style="font-family: 'Lato', sans-serif; margin-left: 10%"><div class=".text-truncate d-inline-block" style="font-size: .82em;">     <sup><i class="fa fa-quote-left" style="font-size: 0.80em; "></i></sup> <%= user_reviews_array[i].details.review %> <sup><i class="fa fa-quote-right" style="font-size: 0.80em; "></i></sup></div> </h5>
         
         </p> <div class = "<%=
          user_reviews_array[i].id %>" style="float: right;" >
          <div class="spam" id= "spam" >
            <a href="javascript: void(0)" class="review-icon "id= "votes"
            
            style="text-decoration: none; color: rgb(28, 172, 230);">
            <i class="fa fa-times-circle-o "></i>
            <i class="fa fa-times-circle user" data-toggle="tooltip" data-placement="top" title="Spam"> </i>
            <% if(user_reviews_array[i].details.spam == undefined){ %> 0 <% } else
            { %> <%= user_reviews_array[i].details.spam %><% } %>
            </a>
            </div>
            <div class="inappropriate" id= "inappropriate" >
            <a href="javascript: void(0)" class="review-icon" data-toggle="tooltip"
            data-placement="top" title="Inappropriate" id= "votes"
            style="text-decoration: none; color: rgb(28, 172, 230); " >
            <i class="fa fa-question-circle-o"></i>
            <i class="fa fa-question-circle user"></i>
            <% if(user_reviews_array[i].details.inappropriate ==
            undefined){ %> 0
            <% } else { %> <%= user_reviews_array[i].details.inappropriate %>
            <% } %> </a></div>
            <div class="dislike" id= "dislike" >
            <a href="javascript: void(0)" class="review-icon"
            style="text-decoration: none; color: rgb(28, 172, 230); "
            data-toggle="tooltip"
            data-placement="top" title="Dislike">
            <i class="fa fa-thumbs-o-down"></i>
            <i class="fa fa-thumbs-down user"></i><%
            if(user_reviews_array[i].details.dislike == undefined){ %> 0
            <% } else { %> <%= user_reviews_array[i].details.dislike %>
            <% } %> </a></div>
            <div class="like" id= "like" > <a href="javascript: void(0)"
            class="review-icon" id= "votes" data-toggle="tooltip"
            data-placement="top"
            title="Like" style="text-decoration: none; color: rgb(28, 172, 230); ">
            <i class="fa fa-thumbs-o-up"></i>
            <i class="fa fa-thumbs-up user" ></i>
            <% if(user_reviews_array[i].details.like == undefined){ %> 0
            <% } else { %> <%= user_reviews_array[i].details.like %> <% } %> </a>
          </div>
          
          </div>
          <small><i>Posted on <%= user_reviews_array[i].details.creation_timestamp %></i></small>
          </div></div>
          
          <% } %>

          <p align="center"  style="font-family: 'Lato', sans-serif; font-size: 30px" >
          Vendors
          </p>
          <div class="media-body container">
          <div class="form-row">
           
          <% for( var i in vendors_list ) { %>
            <div class=" col-lg-3  col-md-4 col-sm-6 col-xs-12 "> <a href="/app/vendor/<%= vendors_list[i].u_id %>"  style="text-decoration: none; color:black">
            <div class="card mx-auto shadow-lg p-3 mb-5 mr-3" style="height: 20rem;width: 15rem;" >
                <img class="card-img-top" src=" <%= vendors_list[i].logo %>" style="height:10rem;" alt="Card image cap">
                <div class="card-body"> 
                    <h5 class="card-title"><%= vendors_list[i].firm_name%></h5>
                  <p class="card-text"><b>Firm Location:</b> <%= vendors_list[i].location %> <i class ="fa fa-map-marker" style="color:blue; font-size:1.5em"></i></p>
                </div></div>
             </a></div>
          <% } %>
          </div>
          </div>
</div>



        <script>
          var is = $('.islogged').attr('value');
          console.log(is);
            $(function(){ 
            $('.user').on('click',function (event) {
             var p_id = '<%= product_details.p_id %>';
             //console.log(event.target);
             //console.log($(event.target).parent());
              var check = $(event.target).parent()[0];
              check = $(check).parent()[0];
              //console.log($(check).parent());
            var feed_back=($(check).attr('class'));
            console.log("FEEDBACK "+feed_back);
             console.log("PID "+p_id);
             var review=($(check).parent()[0]);
             var r_id = $(review).attr('class');
             console.log("REVIEW ID " + r_id);
             if(is == 'true'){
           $.ajax({
        url:"/app/feedback",
        method:"POST",
        data:{feedback:feed_back,pid:p_id,id:r_id},
        success: function(data){
        window.location.reload();
        },
        });  } 
        else{
          alert('Please Log into your account');
        }
 
});});



$(document).ready(function() {
  $('.bar span').hide();
  $('#bar-five').animate({
    width: '<%= (r5*100)/rated_by %>%' , height:30}, 1000);
  $('#bar-four').animate({
     width: '<%= (r4*100)/rated_by %>%', height:30}, 1000);
  $('#bar-three').animate({
     width: '<%= (r3*100)/rated_by %>%', height:30}, 1000);
  $('#bar-two').animate({
     width: '<%= (r2*100)/rated_by %>%', height:30}, 1000);
  $('#bar-one').animate({
     width: '<%= (r1*100)/rated_by %>%', height:30}, 1000);
  
  setTimeout(function() {
    $('.bar span').fadeIn('slow');
  }, 1000);
  
});

 </script>
  <% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>