<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat:500|Roboto" rel="stylesheet">
    <title>search</title>
   
</head>
<style>
 
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.card_one {
 box-shadow: 0px 0px 0px whitesmoke;
 transition-duration: 0.6s;
  -webkit-transition:  box-shadow .1s ease-out;
     box-shadow: .8px .9px 3px whitesmoke;

}
.card_one:hover{ 
     box-shadow: 4px 8px 25px #17a2b8;
    -webkit-transition:  box-shadow .1s ease-in;
  }
.truncate {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

</style> <% include navigationbar.html %>
<body style="background-color: #f4fbff">

    <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/app/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>
              </nav>
    <% if(isvendor) {%>
        <div class="container">

                <nav aria-label=...>
                  <ul class="pagination">
                    <li id="previous-page" class="page-item" ><a href="javascript:void(0)" aria-label=Previous class="page-link"><span aria-hidden=true>&laquo;</span></a></li>
                  </ul>
                </nav>
            
                <div id="page">

                 <div class="container-fluid ">
    
      <div class="text-left mt-1 p-1 font-weight-light"style="font-family: 'Lato', sans-serif; font-size: 20px;text-transform: capitalize;">Search-Result...</div>
    <div class="row">
    <% for( var i in products_list ) { %>
      <div class="list-group">
          <a href="javascript:void(0)" class="active ">
           <div class=" col-lg-3  col-md-4 col-sm-6 col-xs-12 ">
    <div class="card-group p-3 mb-3">   <a href="/app/vendor/<%= products_list[i].u_id %>"  style="text-decoration: none; color:black">
            <div class="card card_one p-3 mr-3" style="height:20rem; width:15rem">
              <img class="card-img-top mx-auto img-fluid " src="<%= products_list[i].logo %>"  style=" width:18rem ; height:10rem" alt="Card image cap">
              <div class="card-body " style="height: 9rem;">
                  <p class="card-title truncate" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;font-size: 20px"><%= products_list[i].firm_name %></p>
                  <p class="card-title truncate" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;font-size: 16px"><%= products_list[i].location %></p>
               </div> 
              </div></a>
             </div>
</div>
</a>
</div>
<% } %></div></div>

                
</div>


</div>
            


   <% } else { %>
        <div class="container">

                        <nav aria-label=...>
                          <ul class=pagination>
                            <li id="previous-page" class="page-item"><a href="javascript:void(0)" aria-label=Previous class="page-link"><span aria-hidden=true>&laquo;</span></a></li>
                          </ul>
                        </nav>
                    
                        <div id="page">
                            <div class="container-fluid ">
                                <div class="col  mx-auto">
                                  <div class="text-left mt-1 p-1 font-weight-light"style="font-family: 'Lato', sans-serif; font-size: 20px;text-transform: capitalize;">Search-Result...</div>
                                <div class="row">
                                <% for( var i in products_list ) { %>
                                  <div class="list-group">
                                      <a href="javascript:void(0)" class="active">
                                          <div class=" col-lg-3  col-md-4 col-sm-6 col-xs-12 ">
                                <div class="card-group p-3 mb-3">  <a href="/app/product/<%= products_list[i].p_id %>" style="text-decoration: none; color:black">
                                  <div class="card card_one p-3 mr-3" style="height:20rem; width:15rem ">
                                            <img class="card-img-top mx-auto img-fluid " src="<%= products_list[i].image_url %>"  style=" width:18rem ; height:10rem" alt="Card image cap">
                                          <div class="card-body " style="height: 9rem;">
                                            <p class="card-title truncate font-weight-medium" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;font-size: 20px"><%= products_list[i].name %></p>
                                           <div class="star_rating card_rating" style="float:left"><%= products_list[i].rating %>  </div><br> <hr> 
                                           <span class="active" style="font-family: 'Lato', sans-serif; font-size: 15px;text-transform: capitalize;">Rated by :  <%= products_list[i].rated_by %>  <i class="fa fa-user" >  </i></span>
                                           </div> 
                                          </div></a>
                                         </div>
                            </div>
                            </a>
                            </div>
                            <% } %></div></div></div>
     
</div>

</div>
            

        <% } %>



        <% include commonFooterScriptElements.html %>
<script>
        
        'use strict';

var numberOfItems = $('#page .list-group').length; // Get total number of the items that should be paginated
//console.log(numberOfItems);
var limitPerPage = 8; // Limit of items per each page
$('#page .list-group:gt(' + (limitPerPage - 1) + ')').hide(); // Hide all items over page limits (e.g., 5th item, 6th item, etc.)
var totalPages = Math.round(numberOfItems / limitPerPage); // Get number of pages
//console.log(totalPages);
$(".pagination").append("<li class='current-page active page-item'><a href='javascript:void(0)'class='page-link'>" + 1 + "</a></li>"); // Add first page marker

// Loop to insert page number for each sets of items equal to page limit (e.g., limit of 4 with 20 total items = insert 5 pages)
for (var i = 2; i <= totalPages; i++) {
  $(".pagination").append("<li class='current-page page-item'><a href='javascript:void(0)' class='page-link'>" + i + "</a></li>"); // Insert page number into pagination tabs
}

// Add next button after all the page numbers  
$(".pagination").append("<li id='next-page' class='page-item'><a href='javascript:void(0)' class='page-link' aria-label=Next><span aria-hidden=true>&raquo;</span></a></li>");

// Function that displays new items based on page number that was clicked
$(".pagination li.current-page").on("click", function() {
  // Check if page number that was clicked on is the current page that is being displayed
  if ($(this).hasClass('active')) {
    return false; // Return false (i.e., nothing to do, since user clicked on the page number that is already being displayed)
  } else {
    var currentPage = $(this).index(); // Get the current page number
    $(".pagination li").removeClass('active'); // Remove the 'active' class status from the page that is currently being displayed
    $(this).addClass('active'); // Add the 'active' class status to the page that was clicked on
    $("#page .list-group").hide(); // Hide all items in loop, this case, all the list groups
    var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page number that was clicked on

    // Loop through total items, selecting a new set of items based on page number
    for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
      $("#page .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
    }
  }

});

// Function to navigate to the next page when users click on the next-page id (next page button)
$("#next-page").on("click", function() {
  var currentPage = $(".pagination li.active").index(); // Identify the current active page
  // Check to make sure that navigating to the next page will not exceed the total number of pages
  if (currentPage === totalPages) {
    return false; // Return false (i.e., cannot navigate any further, since it would exceed the maximum number of pages)
  } else {
    currentPage++; // Increment the page by one
    $(".pagination li").removeClass('active'); // Remove the 'active' class status from the current page
    $("#page .list-group").hide(); // Hide all items in the pagination loop
    var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

    // Loop through total items, selecting a new set of items based on page number
    for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
      $("#page .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
    }

    $(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
  }
});

// Function to navigate to the previous page when users click on the previous-page id (previous page button)
$("#previous-page").on("click", function() {
  var currentPage = $(".pagination li.active").index(); // Identify the current active page
  // Check to make sure that users is not on page 1 and attempting to navigating to a previous page
  if (currentPage === 1) {
    return false; // Return false (i.e., cannot navigate to a previous page because the current page is page 1)
  } else {
    currentPage--; // Decrement page by one
    $(".pagination li").removeClass('active'); // Remove the 'activate' status class from the previous active page number
    $("#page .list-group").hide(); // Hide all items in the pagination loop
    var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

    // Loop through total items, selecting a new set of items based on page number
    for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
      $("#page .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
    }

    $(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
  }
});
</script>

</body>
<% include footer.html %>

</html>
