<!DOCTYPE html>
<html>
<head>
      <style>.sty{
        font-size: 70px;
        font-family: 'Lobster', cursive;
        color: white;
        text-align: center;
    }
     </style>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<% include navigationbar.html %>
<body style="background-image: url(/static/uploads/vendorpage.jpg); background-size: 65rem ">

<div id="container" class="container-fluid  mt-5" >
<div class="row" >
    <div class="col-xs-12 col-sm-6 col-md-6  mt-5 "><div class="sty" style="color: whitesmoke; text-align:center">Use it. Scan it. Review it</div>	<span><h5 style="color: whitesmoke; text-align:center">Feel free to rate and review</h5></span></div>


                    <div class="col-md-4 p-3 mb-5" style="margin-left: 13%;background-color: #f4fbff ;border-radius: 1rem" >
                        <div class="card-body p-3">
                             <form action="/app/signupasVendor"  method="post" enctype="multipart/form-data" >
                                <h2 class="text-center font-up font-bold">Sign up</h2>
                                <div class="md-form p-2"><label for="orangeForm-name2">Firm Name  </label>
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="fname" class="form-control" placeholder="Enter firm name" name="fname">
                                </div> <div id="firmerr" class="alert alert-danger" style="display: none;">Firm Name Already Exsists</div>
                                <div class="md-form p-2">
                                        <label for="orangeForm-email2">Location  <i class="fa fa-map-marker"></i></label>
                                    <input type="text" id="orangeForm-email2" class="form-control" placeholder="Enter firm location" name="location">
                                </div>
                                <div class="md-form p-2"> <label for="orangeForm-pass2">GST NO.  </label>
                                    <i class="fa fa-lock prefix white-text"></i>
                                    <input type="text" id="orangeForm-pass2" class="form-control" placeholder="Enter gst no" name="gst_no">
                                </div>
                                 <div class="md-form p-2"><label for="orangeForm-name2">PAN NO.  </label>
                                    <i class="fa fa-user prefix white-text"></i>
                                    <input type="text" id="orangeForm-name2" class="form-control" placeholder="Enter pan No." name="pan">
                                    
                                </div>
                                 <div class="md-form p-2"> <label for="orangeForm-name2">FIRM LOGO  </label>
                                    <i class="fa fa-image"></i>    
                                    <input type="file" id="orangeForm-name2" class="form-control" placeholder="logo" name="logo">
                                   
                                </div>
                                 <div class="md-form p-2"><label for="orangeForm-name2">GST CERTIFICATE  </label>
                                    <i class="fa fa-image"></i>
                                    <input type="file" id="orangeForm-name2" class="form-control" value="gst_certi" name="gst_certi">
                                    
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-outline-white waves-effect waves-light" name="SignUp">Sign up</button>
                                </div>
                            </form>
                           
                        </div>
                    
                </div>
                </div>

</div>
  <script>
  $(function(){ 
    $('#fname').focusout(function(){
      $.post('/app/checkfirm',{
        fname: $(this).val()},function(data,status){
          if(data.flag=='1'){ $('#firmerr').hide();
            $('#fname').css({"color":"green"});
            sub=true;
          }
          else{ $('#firmerr').show();
            $('#fname').css({"color":"red"});
            sub=false;
          }
      });
    }); });</script>
   
</body>
<% include footer.html %>
<% include commonFooterScriptElements.html %></html>




