<!DOCTYPE html>
<html lang="en">
<head>
  <title>reviewIt-Profile_Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <style>

      .card_one {
       box-shadow: 0px 0px 0px whitesmoke;
       transition-duration: 0.6s;
        -webkit-transition:  box-shadow .1s ease-out;
           box-shadow: .8px .9px 3px whitesmoke;

      }
      .card_one:hover{
           box-shadow: 4px 8px 25px #17a2b8;
          -webkit-transition:  box-shadow .1s ease-in;
        }
        .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      div.relative {
    position: relative;
    left: 300px;

}



    body {
padding-top: 0px;
}

.starter-template {

text-align: center;
}

</style>
</head>


<body>
    <% include navigationbar.html %>
    <% if (!currentUser || currentUser.u_id != user_details.u_id) {%>
      <h1> ACESS  DENIED</h1>
      <% } else { %>


<div class="container " style="padding-top: 2%;">
  <h2>Dashboard</h2>
   <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
    <li class="nav-item"> <a class="nav-link active" data-toggle="pill" href="#myprofile" role="tab" aria-controls="myprofile" aria-selected="true">My Profile</a></li>


    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#changepwd" role="tab" aria-controls="changepwd" aria-selected="false">Change Password</a></li>


    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#myactivity" role="tab" aria-controls="myactivity" aria-selected="true">My Activity</a></li>

    <% if (currentUser) {%>
      <% if (currentUser.r_id==2) {%>

    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#vendorprofile" role="tab" aria-controls="vendorprofile" aria-selected="false">Vendor Profile</a></li>


    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#myproducts" role="tab" aria-controls="myproducts" aria-selected="false">My Products</a></li>
  <% }} %>
  </ul>


  <div class="tab-content" id="pills-tabContent">
    <div id="myprofile"  class="tab-pane fade show active" role="tabpanel" aria-labelledby="myprofile">

<div class="container" style="padding-top: 20px;">
  <h1 class="page-header">My Profile</h1>





  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-8">
      <div class="text-center"><form class="form-horizontal" role="form" action="/app/editprofile" method="post" enctype="multipart/form-data">
        <img src="<%=user_details.img%>" style=" height: 200px; width: 200px; border-radius: 100px" alt="avatar" >
        <h6>Upload a different photo...</h6>
        <input type="file" class="center-block well well-sm" name="img">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">


      <h3>Personal info</h3>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" placeholder="Name: <%=user_details.name%>" value=""  name="name" type="text">
          </div>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" placeholder="Mobile No.: <%=user_details.mob%>" required value =""  name="mob" type="text">
          </div>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" placeholder="email: <%=user_details.user_email%>" value="" name="user_email" type="email">
          </div>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <div class="ui-select">
              <select id="gender" class="form-control">
                <option value="m" name="gender">Male</option>
                <option value="f" name="gender">Female</option>
                </select>
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" placeholder="<%=user_details.dob%>" value="<%=user_details.dob%>" name="dob" type="date">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-default" value="Cancel" type="reset">
            <span></span>

            <input class="btn btn-primary" value="Save Changes" type="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>



    <div id="changepwd" class="tab-pane fade">
    <div class="container " style="padding-top: 20px;">

     <div class="row " align="center">
        <div class="relative">
            <h3 class="page-header" align="center">Change Password</h3>
            </div>

       <div class="col-sm-12 personal-info" style="width:100%;" align="center">
         <div class="alert alert-info alert-dismissable" id="err_change">
           <a class="panel-close close" data-dismiss="alert">×</a>
           <i class="fa fa-coffee"></i>
           Please Enter Same <strong>Password</strong>
         </div>

         <form class="form-horizontal" role="form" id="change_pwd_form" method="POST">
           <div class="form-group">

             <div class="col-lg-6">
               <input class="form-control" placeholder="Mobile No.: " value="" id="mobc" name="mob" type="text">
             </div>
           </div>
           <div class="form-group">

               <div class="col-lg-6">
                 <input class="form-control" placeholder="Current Password: " value="" name="password" id="pswco" type="password">
               </div>
             </div>
           <div class="form-group">

             <div class="col-lg-6">
               <input class="form-control" placeholder="New Password: " value="" name="psw" type="password" id="pswc">
             </div>
           </div>
           <div class="form-group">

             <div class="col-lg-6">
               <input id="pswcr" class="form-control" placeholder="Confirm password: " value="" name="psw_repeat" type="password">
             </div>
           </div>
           <div class="form-group">
             <label class="col-lg-3 control-label"></label>
             <div class="col-lg-8">
              <input class="btn btn-default" value="Cancel" type="reset">
               <span></span>
               <input class="btn btn-primary" value="Change Password" type="submit">

             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
      </div>

<div id="myactivity" class="tab-pane fade" role="tabpanel" aria-labelledby="myactivity">
<h3>My Activity</h3>

<% for( var i in reviewed_products_list ) { %>
  <div class="card container-fluid card_one_review">
    <div class="card-body "> <p class="card-text"><img class=class="avatar img-circle img-thumbnail" src="<%= reviewed_products_list[i].image_url %>" align = "middle" alt="<%=reviewed_products_list[i].name %>" style="float: left; height: 100px; width: 100px; border-radius: 10px">
      <h1><%= reviewed_products_list[i].name %> </h1>


      <h3><div class=".text-truncate d-inline-block" style="font-size:.82em;"> <sup><i class="fa fa-quote-left" style="font-size: 0.80em;"></i></sup> <%= reviewed_products_list[i].review %> <sup><i class="fa fa-quote-right" style="font-size: 0.80em; "></i></sup></div>
      </h3>
  <small><i>Posted on <%=reviewed_products_list[i].creation_timestamp %></i></small>
  </p>
  </div></div>
  <% } %>


</div>


    <% if (currentUser) {%>
      <% if (currentUser.r_id==2 ) {%>
    <div id="vendorprofile" class="tab-pane fade">
      <div class="container" style="padding-top: 20px;">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center"> <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/app/editvendorprofile">
        <img src="<%=vendor_details.logo%>" class="avatar img-circle img-thumbnail"  style=" height: 200px; width: 200px; border-radius: 10px" alt="avatar">
        <h6>Firm Logo</h6>
        <input type="file" name="firmlogo" class="center-block well well-sm">
      </div>
      <div class="text-center">
        <img src="<%=vendor_details.gst_certi%>" class="avatar img-circle img-thumbnail"  style=" height: 200px; width: 200px; border-radius: 10px" alt="avatar">
        <h6>Gst Certificate</h6>
        <input type="file" name="gstcerti" class="center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" name="firmname" placeholder="Firm Name: <%=vendor_details.firm_name%>" value="" type="text">
          </div>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" name="location" placeholder="Location: <%=vendor_details.location%>" value="" type="text">
          </div>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" name="gstno" placeholder="Gst No.: <%=vendor_details.gst_no%>" value="" type="text">
          </div>
          <input name="uid" value="<%=user_details.u_id%>" type="text" hidden>
        </div>
        <div class="form-group">

          <div class="col-lg-8">
            <input class="form-control" name="panno" placeholder="Pan No.: <%=vendor_details.pan_no%>" value="" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
              <input class="btn btn-default" value="Cancel" type="reset">

            <span></span>
            <input class="btn btn-primary" value="Save Changes" type="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
    <div id="myproducts" class="tab-pane fade">
      <h3>My Products</h3>
      <a href="/app/<%=vendor_details.u_id%>/addproduct"><button class="btn btn-secondary" style="float:right;" >Add Product</button></a>
      <div class="container-fluid">

          <nav aria-label=...>
            <ul class=pagination>
              <li id="previous-page" class="page-item"><a href="javascript:void(0)" aria-label=Previous><span aria-hidden=true class="page-link">&laquo;</span></a></li>
            </ul>
          </nav>




          <div class="container-fluid ">
              <div class="col-sm-12 ">
                <div class="text-center mt-1 p-1 font-weight-bold"style="font-family: 'Source Sans Pro', sans-serif;font-size: 20px;text-shadow:1px 1px grey">Your Products</div>
              <div class="row">
              <% for( var i in recent_products ) { %>
                <div class="col-sm-3" >
              <div class="card-group " >
                      <div class="card card_one  p-3 mr-3"style="height:22rem; width:25rem>
                          <a href="/app/product/<%= recent_products[i].p_id %>"  style="text-decoration: none; color:black">
                        <img class="card-img-top mx-auto img-fluid " src="<%= recent_products[i].image_url %>"  style=" width:20rem ; height:10rem" alt="Card image cap">
                                </a>
                          <h5 class="card-title mt-1"><%= recent_products[i].name %></h5>
                          <div ><h6>Rated by: <%= recent_products[i].rated_by %> <i class="fa fa-user"></i></h6></div>
                       <hr>
                         <div class="<%= recent_products[i].p_id %>">

                          <button id="generator" class="btn btn-primary btn-sm generator"  style="float: right;">Genrate QR</button>
                          <button id="disableproduct" class="btn btn-sm btn-link disable border" style="color: red; float:left" value="<%=  recent_products[i].p_id %>"  >Disable</button>
                             </div>




                      </div>
                    </div>


                          </div>
                  <div class="col-sm-3">
                      <h5>QR code for <%= recent_products[i].name %></h5>




            <div class="col-md-3 col-md-3 col-md-3 col-md-3">


              <div class="<%= recent_products[i].p_id %>">


                    <div class ="<%= recent_products[i].p_id %>image" id="image" style="margin:auto "></div>
                <div class ="<%= recent_products[i].p_id %>link" id="link" style="margin-top:10px; text-align:center"></div>
              </div>
            </div>





     </div>









                <% } %></div></div></div>

      <!--Section: Products v.3-->


    </div>
  </div>
</div>
<% }}} %>
<% include commonFooterScriptElements.html %>


<script>
  $(function(){

$('.disable').on('click',function(event){
  console.log(event.target);
  var check=$(event.target).parent()[0];
  var pid=($(check).attr('class'));
  console.log(pid);

  if('<%=recent_products %>'==undefined)
  {
      alert('no product');

  }
  else{
      $.ajax({
              url:"/app/disableproduct",
              method:"POST",
              data:{u_id:'<%= user_details.u_id %>', p_id:pid},
              dataType:"text",
              error: function (err)
              {
             alert('Internal server error');
              },
              success:function(data){
                  alert("product disabled");
              window.location.reload();


          },

      });
  }
});

  });

  $(function(){
$('.generator').on('click',function(){
  console.log(event.target);
  var check=$(event.target).parent()[0];
  console.log(check);
  var pid=($(check).attr('class'));
  console.log(pid);
  var url = "http://reviewit.projectorclub.in/app/product/"+pid;
  var size = 200;
  console.log(url+"before condition");
  if($("."+pid+"image").is(':empty')){ console.log("inside if drawing"+pid+"image");
      $("."+pid+"image").append("<img src='http://chart.apis.google.com/chart?cht=qr&chl=" + url + "&chs=" + size + "' alt='qr' />");
      $("."+pid+"link").append("<a class='downloadlink' style='color:black;' target='_blank' href='http://chart.apis.google.com/chart?cht=qr&chl=" + url + "&chs=" + size + "'>Download QR Code</a>");
  }
  else{console.log("clearing"+pid+"image");
    $("."+pid+"image").html("");
    $("."+pid+"link").html("");
  }

});
});

$(function(){
  $('#pname').focusout(function(){
    $.post('/app/checkname',{
      name: $(this).val()},function(data,status){
        if(data.flag=='1'){ $('#nameerr').hide();
          $('#pname').css({"color":"green"});
          sub=true;
        }
        else{ $('#nameerr').show();
          $('#pname').css({"color":"red"});
          sub=false;
        }
    });
  }); });



</script>
<script>

  'use strict';

var numberOfItems = $('#page .list-group').length; // Get total number of the items that should be paginated
console.log(numberOfItems);
var limitPerPage = 8; // Limit of items per each page
$('#page .list-group:gt(' + (limitPerPage - 1) + ')').hide(); // Hide all items over page limits (e.g., 5th item, 6th item, etc.)
var totalPages = Math.round(numberOfItems / limitPerPage); // Get number of pages
console.log(totalPages);
$(".pagination").append("<li class='current-page active page-item'><a href='javascript:void(0)'class='page-link'>" + 1 + "</a></li>"); // Add first page marker

// Loop to insert page number for each sets of items equal to page limit (e.g., limit of 4 with 20 total items = insert 5 pages)
for (var i = 2; i <= totalPages; i++) {
$(".pagination").append("<li class='current-page page-item'><a href='javascript:void(0)' class='page-link'>" + i + "</a></li>"); // Insert page number into pagination tabs
}

// Add next button after all the page numbers
$(".pagination").append("<li id='next-page' class='page-item'><a href='javascript:void(0)' class='page-link' aria-label=Next><span aria-hidden=true>&raquo;</span></a></li>");

// Function that displays new items based on page number that was clicked
$(".pagination li.current-page").on("click", function() {
// Check if page number that was clicked on is the current page that is being displayed
if ($(this).hasClass('active')) {
return false; // Return false (i.e., nothing to do, since user clicked on the page number that is already being displayed)
} else {
var currentPage = $(this).index(); // Get the current page number
$(".pagination li").removeClass('active'); // Remove the 'active' class status from the page that is currently being displayed
$(this).addClass('active'); // Add the 'active' class status to the page that was clicked on
$("#page .list-group").hide(); // Hide all items in loop, this case, all the list groups
var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page number that was clicked on

// Loop through total items, selecting a new set of items based on page number
for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
$("#page .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
}
}

});

// Function to navigate to the next page when users click on the next-page id (next page button)
$("#next-page").on("click", function() {
var currentPage = $(".pagination li.active").index(); // Identify the current active page
// Check to make sure that navigating to the next page will not exceed the total number of pages
if (currentPage === totalPages) {
return false; // Return false (i.e., cannot navigate any further, since it would exceed the maximum number of pages)
} else {
currentPage++; // Increment the page by one
$(".pagination li").removeClass('active'); // Remove the 'active' class status from the current page
$("#page .list-group").hide(); // Hide all items in the pagination loop
var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

// Loop through total items, selecting a new set of items based on page number
for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
$("#page .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
}

$(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
}
});

// Function to navigate to the previous page when users click on the previous-page id (previous page button)
$("#previous-page").on("click", function() {
var currentPage = $(".pagination li.active").index(); // Identify the current active page
// Check to make sure that users is not on page 1 and attempting to navigating to a previous page
if (currentPage === 1) {
return false; // Return false (i.e., cannot navigate to a previous page because the current page is page 1)
} else {
currentPage--; // Decrement page by one
$(".pagination li").removeClass('active'); // Remove the 'activate' status class from the previous active page number
$("#page .list-group").hide(); // Hide all items in the pagination loop
var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

// Loop through total items, selecting a new set of items based on page number
for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
$("#page .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
}

$(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
}
});
</script>

 </body>

</html>
