<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vendors_list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>


        <% include navigationbar.html %>
    <h1>ALL VENDOR ARE HERE </h1> <br><br>
    <section class="text-center mb-4">
            <div class="row wow fadeIn">
    <% for(var i in vendors_list) { %>
        <div class="col-lg-3 col-md-6 mb-4">
                <a href="/app/vendor/<%= vendors_list[i].u_id %>">
            
       <!-- Card -->
       <div class="card testimonial-card">

        <!-- Bacground color -->
        <div class="card-up indigo lighten-1">
       </div>
    
        <!-- Avatar -->
        <div class="avatar mx-auto white"><img src="<%= vendors_list[i].logo %>" alt="product image" style="height:100px;width:100px" class="rounded-circle">
        </div>
    
        <div class="card-body">
            <!-- Name -->
            <h4 class="card-title"><%= vendors_list[i].firm_name %><%= vendors_list[i].u_id %></h4>
            <h4 class="card-title"><%= vendors_list[i].location %></h4>
            <hr>
            <!-- Quotation -->
            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
        </div>
        
    
    </div>
    <!-- Card -->

</a>
</div>
    
   
           <% } %>
    
            </div>
    </section>




    <% include footer.html %>
<% include commonFooterScriptElements.html %>

</body>

</html>

   