<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/styles/star/style.css">

<link rel="stylesheet"href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat:500|Roboto" rel="stylesheet">
<style>.gallery-wrap .img-big-wrap img {
    height:450px;
    width: auto;
    align-items: center;
    cursor: zoom-in;
    text-align: center;
    margin-top: 5%
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
    
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
.truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_one {
    box-shadow: 0px 0px 0px whitesmoke;
    transition-duration: 0.6s;
    -webkit-transition:  box-shadow .1s ease-out;
    box-shadow: .8px .9px 3px whitesmoke;

}
.card_one:hover{
    box-shadow: 4px 8px 25px #17a2b8;
    -webkit-transition:  box-shadow .1s ease-in;
}

</style>
</head>
<% include navigationbar.html %>
<body class="header-fixed header-fixed-space"style="background-color: azure" >

    <div class="wrapper homePage">
 <div class="container-fluid ">
            <div class="row  ">
                <div class="col-md-5 col-sm-12 " style="align-content: center;">
                    <div class="img-big-wrap">
                        <div> <a href="#"><img class=" img-fluid ml-5 mt-3" src="<%= vendor_details.logo%>"  style="height: 60% ;width: 80%;align-content: center;"></a></div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <p class="title"  style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 30px" ><%=vendor_details.firm_name%></p>
                    <hr>

                    <p class="price-detail-wrap"  style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 20px" > <span class="price  ">location: </span>
                        <span class="price text-secondary">
		<span class="num" > <%= vendor_details.location %></span>
  </span>
                    <hr>
                    <p class="active-wrap "> <span class="active"  style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 20px" >active from: </span>
                        <span class="price ">
      <span class="num"> <%= vendor_details.creation_timestamp %></span>
    </span>
                    <hr>
                    <p class="price-detail-wrap "> <span class="price"  style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 20px">total products: </span>
                        <span class="price h5">
		<span class="num"> <%= produuct_count.no%></span>
	</span>


                    </div>


                </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12  mx-auto d-block">
                <div class="text-left mt-2 p-3 " style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 30px">Products List</div>

                <div class="row">

                    <% if(vendor_products_list.length==0){ %>
                    <h1>No Products...</h1>  <% } %>

                    <% for( var i in vendor_products_list) {%>
                    <div class=" col-lg-3  col-md-4 col-sm-6 col-xs-12 ">

                        <div class="card-group p-4 mb-3 mx-auto d-block"> <a href="/app/product/<%=vendor_products_list[i].p_id%>"  style="text-decoration: none; color:black">

                            <div class="card card_one p-3 mr-3" style="height: 22rem; width: 15rem">
                                <img class="card-img-top" src="<%= vendor_products_list[i].image_url %>"  style=" width:13 ; height:10rem" alt="Card image cap" >
                                <div class="card-body">
                                    <p class="card-title truncate" style="font-family: 'Roboto', sans-serif;text-transform: capitalize; font-size: 20px"><%= vendor_products_list[i].name%></p>
                                    <div class="star_rating card_rating" style="float: left"><%= vendor_products_list[i].rating %></div><br> <hr>
                                    <span class="active">Rated by : <%= vendor_products_list[i].rated_by %>  <i class="fa fa-user" style="color: rgb(97, 4, 4); font-size:1.25em">  </i></span>
                                </div>
                            </div></a></div></div>
                    <%}%>
                </div></div></div>



    </div>
    
  <% include footer.html %>
  <% include commonFooterScriptElements.html %>

</body>
</html>
